@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
    background-color: grey;
    color: white;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

nav {
    background-color: green
}

nav a {
    text-decoration: none;
    color: white;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav li {
    list-style: none;
}

h1 {
    text-align: center;
}

.employeeCard {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: large;
    width: 25vw;
    height: 50vh;
    border: 5px solid green;
    border-radius: 10%
}

.employeeFace {
    max-height: 200px;
    max-width: 200px;
    margin: 0 auto 0 auto;
}

img {
    height: 200px;
    width: 200px;
}

.employeeDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#showEmployee {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 110vh
}